@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Karla:wght@800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif; */

body {
  background: #49e6c6;
  color: #fff;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow-y: hidden;
}
input {
  color:#4adf86;
}
.alert__text {
  background:#c38080;
  font-weight: bold;
  text-align: center;
  width:390px;
  border-radius: 6px;
  padding:0.3rem;
  font-size:0.9rem;
  letter-spacing: 1px;
  visibility: hidden;
}

.card {
  background: #1f2937;
  margin: 3rem 1rem;
  border-radius: 10px;
}

.container {
  padding: 50px 40px;
}

.card-heading {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0px;
  letter-spacing: -1px;
}
.highlight {
  display: block;
  color: #4adf86;
}

.card-paragraph {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #d5d4d8;
}

.card-button {
  color: #fff;
  font-size: 16px;
  padding: 9px 15px;
  background: hsl(160, 84%, 39%);

  border-radius: 6px;
  transition: 0.2s;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.card-button:hover {
  background: hsl(160, 84%, 49%);
  color: black;
}

.checkbox-container {
  margin: 30px 0;
}

.checkbox label {
  font-size: 18px;
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
}

.card-checkbox {
  cursor: pointer;
  margin-bottom: 10px;
}

.input-container {
  border-top: 1px solid #2f3e53;
  padding-top: 35px;
  display: flex;
}

.input-container input:nth-child(1) {
  margin-right: 20px;
}
input[type='text'],
input[type='number'] {
  background: #273549;
  border-radius: 6px;
  border: none;


  font-size: 16px;
  font-family: inherit;
  width: 50%;
  height: 32px;
  text-align: center;
  padding: 0 10px;
}

input[type='number'] {
  width: 182px;
  height: 41px;
  margin-left: 15px;
}

@media (max-width: 550px) {
  .card {
    text-align: center;
  }
  .container {
    padding: 50px 20px;
  }
  .card-heading {
    font-size: 1.6rem;
  }
  .card-paragraph {
    font-size: 1rem;
    width: 90%;
    margin-inline: auto;
  }
  .card-button {
    margin-bottom: 15px;
  }
  input[type='number'] {
    width: 160px;
    height: 41px;
    margin-left: 0;
  }
  .checkbox-container {
    display: flex;
    flex-direction: column;
  }
  .checkbox-container > div:nth-child(1) {
    margin-left: -12px;
  }
  .checkbox-container > div:nth-child(3) {
    margin-left: 4px;
  }
  .alert__text {
    width: 170px;
    margin-inline: auto;
    font-size:0.7rem;
  }
}
