@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin:0;
  padding:0;
  background:#23252C;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.app {
  display:flex;
  justify-content: space-between;

}

h2 {
  color:#f5f5f5;
  font-size:16px;
  font-weight: 700;
  padding-left:35px;
  margin:5px 0 0 0;

}

h2 + p {
  color:#DCDCDC;
  font-size:11px;
  line-height: 1.5;
  padding:0 30px 0 35px;
  margin-top:10px;
}

.footer {
  background:#161619;
  border-radius:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer svg {
  font-size:1.3rem;
  background: #918E9B;
  padding:0.2rem;
  margin:0.8rem 0.8rem;
  cursor: pointer;
}

@media (max-width:1100px) {
  .app {
    flex-direction: column;
  }
}