@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');

:root {
  --dark-black: #090909;
  --light-black: #141414;
  --gray: #505050;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: black;
  line-height: 1.5;
  font-family: 'Source Sans 3', sans-serif;
}

button {
  font-family: inhert;
}

a {
  text-decoration: none;
}
button,
a {
  cursor: pointer;
  transition: color 0.2s ease-in;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
}
/* Reusable Classes */
.container {
  padding: 0 2em;
}
/* Header */
.header {
  height: 60px;
  background: #fff;
  padding: 1em;
}
.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__brand {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 0.5rem;
}
.header__title {
  color: var(--dark-black);
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 4px;
}
.nav__list {
  display: flex;
}
.nav__link {
  display: inline-block;
  margin-left: 4rem;
  font-size: 1.4rem;
  color: var(--dark-black);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 6px;
  border-bottom: 3px solid transparent;
}
.nav__link:hover {
  color: #8334c1;
}

/* Media Queries */
@media (min-width: 900px) {
  .container {
    padding: 0 5.3em;
  }
}
