@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Smythe&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #5EE6B0;
  color: #000;
  font-family: 'Smythe', cursive;
  display: grid;
  place-items: center;
}

input,
button {
  font-family: 'Inter', sans-serif;
}
button {
  cursor: pointer;
  border: none;
  transition: all 0.2s linear;
  color: #000;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  max-width: 600px;
  width: 500px;
  margin: 0 auto;
  background: #fff;
}

/* Header */
.header {
  background: url('./images/header.png');
  height: 167px;
  object-fit: cover;
}
.container {
  padding: 0 46px;
}
/* Menu Section */
.menu {
  padding: 10px 0 0;
}
.menu__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 49px;
  padding-top: 41px;
}
.item__img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  object-fit: fill;
}

.item__heading {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 8px;
}

.item__description {
  color: #544e4e;
  font-size: 16px;
  margin-bottom: 8px;
}

.item__price {
  font-size: 20px;
  letter-spacing: 1px;
}

.item__button {
  margin-left: auto;
  font-size: 20px;
  background: transparent;
  border: 1px solid #dedede;
  border-radius: 50%;
  padding: 0.6rem 1rem;
}

.item__button:hover {
  background: #000;
  color: #fff;
}

/* Order Section */
.order {
  display: none;
}
.order__heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.alert__message {
  background: #ecfdf5;
  color: #065f46;
  padding: 2.5rem;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  display: none;
  border-bottom: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-left: 1px solid #d2d2d2;
  margin-bottom: 0.2rem;
}

.order__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.order__item:last-child {
  margin-bottom: 20px;
}
.order__name,
.total__name {
  font-size: 28px;
  margin-right: 30px;
  margin-top: -6px;
  width: 100px;
}

.btn__remove {
  background: hsl(0, 52%, 57%);
  padding: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}
.btn__remove:hover {
  background: hsl(0, 52%, 67%);
  color: black;
}
.order__price,
.total__price {
  margin-left: auto;
  font-size: 20px;
  letter-spacing: 1px;
}

.total {
  display: flex;
  border-top: 2px solid #393333;
  padding-top: 14px;
}

.button__container {
  text-align: center;
}

.btn--complete {
  margin: 30px 0 53px;
}
.btn__green {
  background: hsl(160, 82%, 47%);
  width: 100%;
  font-size: 16px;
  padding: 1rem 0;
  font-weight: bold;
  border-radius: 5px;
}

.btn__green:hover {
  background: hsl(160, 82%, 40%);
}

/* Dialog */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 47px 24px 30px;
}

.dialog__heading {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px;
}
.form__input {
  width: 100%;
  padding: 0.9rem 1.2rem;
  margin-bottom: 23px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
}
.form__input::placeholder {
  color: #757575;
  font-size: 14px;
  font-weight: bold;
}
